#
binauralbeatx
.build
Makefile
.qmake.stash
src/.qm

#
/.cproject
/.project
/.externalToolBuilders
/.settings

#
binauralbeatx.cflags
binauralbeatx.config
binauralbeatx.creator
binauralbeatx.creator.user
binauralbeatx.cxxflags
binauralbeatx.files
binauralbeatx.includes
